# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
*.egg
*.log

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# macOS system files
.DS_Store

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
